<a href="https://colab.research.google.com/github/smhozdur/TheWeatherDataAnalysis/blob/main/TheWeatherDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**THE WEATHER DATASET ANALYSIS PROJECT**


The Weather Dataset is a time-series dataset with per-hour information about the weather conditions at a particular location.It records temperature, dew point temperature, wind speed ,relative humidity, visibility, pressure and conditions

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("1.Weather Data.csv")

FileNotFoundError: ignored

In [ ]:
data

             Date/Time  Temp_C  ...  Press_kPa               Weather
0        1/1/2012 0:00    -1.8  ...     101.24                   Fog
1        1/1/2012 1:00    -1.8  ...     101.24                   Fog
2        1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5  ...     101.23                   Fog
...                ...     ...  ...        ...                   ...
8779  12/31/2012 19:00     0.1  ...     100.13                  Snow
8780  12/31/2012 20:00     0.2  ...     100.03                  Snow
8781  12/31/2012 21:00    -0.5  ...      99.95                  Snow
8782  12/31/2012 22:00    -0.2  ...      99.91                  Snow
8783  12/31/2012 23:00     0.0  ...      99.89                  Snow

[8784 rows x 8 columns]

# How to Analyze Data?

**.head**

In [ ]:
data.head()

       Date/Time  Temp_C  ...  Press_kPa               Weather
0  1/1/2012 0:00    -1.8  ...     101.24                   Fog
1  1/1/2012 1:00    -1.8  ...     101.24                   Fog
2  1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3  1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4  1/1/2012 4:00    -1.5  ...     101.23                   Fog

[5 rows x 8 columns]

**.shape**

In [ ]:
data.shape

(8784, 8)

**.index**

In [ ]:
data.index

RangeIndex(start=0, stop=8784, step=1)

**.columns**

In [ ]:
data.columns

Index(['Date/Time', 'Temp_C', 'Dew Point Temp_C', 'Rel Hum_%',
       'Wind Speed_km/h', 'Visibility_km', 'Press_kPa', 'Weather'],
      dtype='object')

**.dtypes**

In [ ]:
data.dtypes

Date/Time            object
Temp_C              float64
Dew Point Temp_C    float64
Rel Hum_%             int64
Wind Speed_km/h       int64
Visibility_km       float64
Press_kPa           float64
Weather              object
dtype: object

**.unique()**

In [ ]:
data['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

**.nunique()**

In [ ]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

**.count()**

In [ ]:
data.count()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

**.value_counts()**

In [ ]:
data['Weather'].value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Thunderstorms,Rain Showers                   16
Haze                                         16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Freezing Drizzle,Fog                          6
Snow,Ice Pellets                              6
Snow,Haze                                     5
Freezing Fog                                  4
Snow Showers,Fog                              4
Moderate Snow                                 4
Rain,Snow,Ice Pellets                         4
Freezing Rain,Fog                             4
Freezing Drizzle,Haze                         3
Thunderstorms,Rain                            3
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Freezing Rain,Haze                            2
Drizzle,Snow                                  2
Thunderstorms                                 2
Moderate Snow,Blowing Snow                    2
Rain Showers,Snow Showers                     2
Freezing Rain,Ice Pellets,Fog                 1
Snow Pellets                                  1
Thunderstorms,Moderate Rain Showers,Fog       1
Thunderstorms,Heavy Rain Showers              1
Moderate Rain,Fog                             1
Rain,Snow,Fog                                 1
Thunderstorms,Rain,Fog                        1
Drizzle,Ice Pellets,Fog                       1
Freezing Rain,Snow Grains                     1
Rain Showers,Fog                              1
Rain,Ice Pellets                              1
Rain,Snow Grains                              1
Name: Weather, dtype: int64

**.info()**

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8784 entries, 0 to 8783
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date/Time         8784 non-null   object
 1   Temp_C            8784 non-null   float64
 2   Dew Point Temp_C  8784 non-null   float64
 3   Rel Hum_%         8784 non-null   int64
 4   Wind Speed_km/h   8784 non-null   int64
 5   Visibility_km     8784 non-null   float64
 6   Press_kPa         8784 non-null   float64
 7   Weather           8784 non-null   object
dtypes: float64(4), int64(2), object(2)
memory usage: 549.1+ KB

# QUESTIONS

**1) Find all the unique 'Wind Speed' values in the data.**

In [ ]:
data.head(2)

NameError: ignored

In [ ]:
data.nunique()

Date/Time           8784
Temp_C               533
Dew Point Temp_C     489
Rel Hum_%             83
Wind Speed_km/h       34
Visibility_km         24
Press_kPa            518
Weather               50
dtype: int64

In [ ]:
data['Wind Speed_km/h'].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2])

**2)Find the number of times when 'the weather is exactly clear'.**

In [ ]:
data.head(2)

In [ ]:
data.Weather.value_counts()

In [ ]:
#Filtering

data[data.Weather == 'Clear']

             Date/Time  Temp_C  ...  Press_kPa  Weather
67      1/3/2012 19:00   -16.9  ...     101.74    Clear
114     1/5/2012 18:00    -7.1  ...     100.71    Clear
115     1/5/2012 19:00    -9.2  ...     100.80    Clear
116     1/5/2012 20:00    -9.8  ...     100.83    Clear
117     1/5/2012 21:00    -9.0  ...     100.83    Clear
...                ...     ...  ...        ...      ...
8646   12/26/2012 6:00   -13.4  ...     102.47    Clear
8698  12/28/2012 10:00    -6.1  ...     101.27    Clear
8713   12/29/2012 1:00   -11.9  ...     101.31    Clear
8714   12/29/2012 2:00   -11.8  ...     101.33    Clear
8756  12/30/2012 20:00   -13.8  ...     101.52    Clear

[1326 rows x 8 columns]

In [ ]:
#groupby

data.groupby('Weather').get_group('Clear')

**3)Find the number of times when "the wind speed = 4 km/h"**

In [ ]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [ ]:
data[data['Wind Speed_km/h'] == 4]

             Date/Time  Temp_C  ...  Press_kPa               Weather
0        1/1/2012 0:00    -1.8  ...     101.24                   Fog
1        1/1/2012 1:00    -1.8  ...     101.24                   Fog
2        1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5  ...     101.23                   Fog
...                ...     ...  ...        ...                   ...
8779  12/31/2012 19:00     0.1  ...     100.13                  Snow
8780  12/31/2012 20:00     0.2  ...     100.03                  Snow
8781  12/31/2012 21:00    -0.5  ...      99.95                  Snow
8782  12/31/2012 22:00    -0.2  ...      99.91                  Snow
8783  12/31/2012 23:00     0.0  ...      99.89                  Snow

[8784 rows x 8 columns]

**4)Find out all the Null Values in the data**

In [ ]:
data.isnull().sum()

Date/Time           0
Temp_C              0
Dew Point Temp_C    0
Rel Hum_%           0
Wind Speed_km/h     0
Visibility_km       0
Press_kPa           0
Weather             0
dtype: int64

In [ ]:
data.notnull().sum()

Date/Time           8784
Temp_C              8784
Dew Point Temp_C    8784
Rel Hum_%           8784
Wind Speed_km/h     8784
Visibility_km       8784
Press_kPa           8784
Weather             8784
dtype: int64

**5)Rename the column name "Weather" of the data frame as "Weather Condition"**

In [ ]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [ ]:
data.rename(columns = {'Weather' : 'Weather Condition'})

             Date/Time  Temp_C  ...  Press_kPa     Weather Condition
0        1/1/2012 0:00    -1.8  ...     101.24                   Fog
1        1/1/2012 1:00    -1.8  ...     101.24                   Fog
2        1/1/2012 2:00    -1.8  ...     101.26  Freezing Drizzle,Fog
3        1/1/2012 3:00    -1.5  ...     101.27  Freezing Drizzle,Fog
4        1/1/2012 4:00    -1.5  ...     101.23                   Fog
...                ...     ...  ...        ...                   ...
8779  12/31/2012 19:00     0.1  ...     100.13                  Snow
8780  12/31/2012 20:00     0.2  ...     100.03                  Snow
8781  12/31/2012 21:00    -0.5  ...      99.95                  Snow
8782  12/31/2012 22:00    -0.2  ...      99.91                  Snow
8783  12/31/2012 23:00     0.0  ...      99.89                  Snow

[8784 rows x 8 columns]

**6)What is the mean 'Visibility'?**

In [ ]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [ ]:
data['Visibility_km'].mean()

27.66444672131151

**7)What is the standart deviation of "Pressure" in this data?**

In [ ]:
data.Press_kPa.std()

0.8440047459486474

**8}What is the variance of "Relative Humidity" in this data?**

In [ ]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [ ]:
data["Rel Hum_%"].var()

286.2485501984998

**9)Find all instances when "Snow" was recorded?**

In [ ]:
data.head(2)

       Date/Time  Temp_C  Dew Point Temp_C  ...  Visibility_km  Press_kPa  Weather
0  1/1/2012 0:00    -1.8              -3.9  ...            8.0     101.24      Fog
1  1/1/2012 1:00    -1.8              -3.7  ...            8.0     101.24      Fog

[2 rows x 8 columns]

In [ ]:
data.Weather.value_counts()

Mainly Clear                               2106
Mostly Cloudy                              2069
Cloudy                                     1728
Clear                                      1326
Snow                                        390
Rain                                        306
Rain Showers                                188
Fog                                         150
Rain,Fog                                    116
Drizzle,Fog                                  80
Snow Showers                                 60
Drizzle                                      41
Snow,Fog                                     37
Snow,Blowing Snow                            19
Rain,Snow                                    18
Haze                                         16
Thunderstorms,Rain Showers                   16
Drizzle,Snow,Fog                             15
Freezing Rain                                14
Freezing Drizzle,Snow                        11
Freezing Drizzle                              7
Snow,Ice Pellets                              6
Freezing Drizzle,Fog                          6
Snow,Haze                                     5
Freezing Fog                                  4
Rain,Snow,Ice Pellets                         4
Snow Showers,Fog                              4
Moderate Snow                                 4
Freezing Rain,Fog                             4
Thunderstorms,Rain Showers,Fog                3
Rain,Haze                                     3
Thunderstorms,Rain                            3
Freezing Drizzle,Haze                         3
Rain Showers,Snow Showers                     2
Freezing Rain,Haze                            2
Moderate Snow,Blowing Snow                    2
Thunderstorms                                 2
Drizzle,Snow                                  2
Rain,Snow Grains                              1
Rain Showers,Fog                              1
Freezing Rain,Ice Pellets,Fog                 1
Thunderstorms,Rain,Fog                        1
Moderate Rain,Fog                             1
Rain,Ice Pellets                              1
Thunderstorms,Heavy Rain Showers              1
Snow Pellets                                  1
Rain,Snow,Fog                                 1
Thunderstorms,Moderate Rain Showers,Fog       1
Drizzle,Ice Pellets,Fog                       1
Freezing Rain,Snow Grains                     1
Name: Weather, dtype: int64

In [ ]:
data[data["Weather"] == 'Snow']

             Date/Time  Temp_C  ...  Press_kPa  Weather
55       1/3/2012 7:00   -14.0  ...     100.95     Snow
84      1/4/2012 12:00   -13.7  ...     101.25     Snow
86      1/4/2012 14:00   -11.3  ...     100.97     Snow
87      1/4/2012 15:00   -10.2  ...     100.89     Snow
88      1/4/2012 16:00    -9.4  ...     100.79     Snow
...                ...     ...  ...        ...      ...
8779  12/31/2012 19:00     0.1  ...     100.13     Snow
8780  12/31/2012 20:00     0.2  ...     100.03     Snow
8781  12/31/2012 21:00    -0.5  ...      99.95     Snow
8782  12/31/2012 22:00    -0.2  ...      99.91     Snow
8783  12/31/2012 23:00     0.0  ...      99.89     Snow

[390 rows x 8 columns]

In [ ]:
data[data["Weather"] == "Snow"]

             Date/Time  Temp_C  ...  Press_kPa  Weather
55       1/3/2012 7:00   -14.0  ...     100.95     Snow
84      1/4/2012 12:00   -13.7  ...     101.25     Snow
86      1/4/2012 14:00   -11.3  ...     100.97     Snow
87      1/4/2012 15:00   -10.2  ...     100.89     Snow
88      1/4/2012 16:00    -9.4  ...     100.79     Snow
...                ...     ...  ...        ...      ...
8779  12/31/2012 19:00     0.1  ...     100.13     Snow
8780  12/31/2012 20:00     0.2  ...     100.03     Snow
8781  12/31/2012 21:00    -0.5  ...      99.95     Snow
8782  12/31/2012 22:00    -0.2  ...      99.91     Snow
8783  12/31/2012 23:00     0.0  ...      99.89     Snow

[390 rows x 8 columns]

In [ ]:
data[data.Weather.str.contains("Snow")]

             Date/Time  Temp_C  ...  Press_kPa       Weather
41      1/2/2012 17:00    -2.1  ...      99.66  Snow Showers
44      1/2/2012 20:00    -5.6  ...     100.07  Snow Showers
45      1/2/2012 21:00    -5.8  ...     100.15  Snow Showers
47      1/2/2012 23:00    -7.4  ...     100.27  Snow Showers
48       1/3/2012 0:00    -9.0  ...     100.35  Snow Showers
...                ...     ...  ...        ...           ...
8779  12/31/2012 19:00     0.1  ...     100.13          Snow
8780  12/31/2012 20:00     0.2  ...     100.03          Snow
8781  12/31/2012 21:00    -0.5  ...      99.95          Snow
8782  12/31/2012 22:00    -0.2  ...      99.91          Snow
8783  12/31/2012 23:00     0.0  ...      99.89          Snow

[583 rows x 8 columns]

use head and tail

**10)Find All instances